/* Coolors Exported Palette - coolors.co/f06449-50514f-ffe066-247ba0-70c1b3 */

/* HSL */
$color1: hsla(10%, 85%, 61%, 1);
$color2: hsla(90%, 1%, 31%, 1);
$color3: hsla(48%, 100%, 70%, 1);
$color4: hsla(198%, 63%, 38%, 1);
$color5: hsla(170%, 40%, 60%, 1);

/* RGB */
$color1: rgba(240, 100, 73, 1);
$color2: rgba(80, 81, 79, 1);
$color3: rgba(255, 224, 102, 1);
$color4: rgba(36, 123, 160, 1);
$color5: rgba(112, 193, 179, 1);